<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes" *ngIf="isAuthed">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
        <li routerLinkActive="active"><a routerLink="/auth" *ngIf="!isAuthed">Authenticate</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthed">
          <a (click)="handleLogout()">Logout</a>
        </li>
        <li class="dropdown manage-dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="handleSaveData()">Save Data</a></li>
            <li (click)="handleFetchData()"><a>Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
