<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm!" (ngSubmit)="handleSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!recipeForm?.valid">Save</button>
          <button type="button" class="btn btn-default" (click)="handleCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" formControlName="name" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-path">Image Path</label>
            <input id="image-path" type="text" class="form-control" formControlName="imagePath" #imagePath />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive" [src]="imagePath.value" alt="Recipe image">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              class="form-control"
              rows="6"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            *ngFor="let ingredientControl of ingredientsControls; let i = index"
            class="row ingredient-wrap"
            [formGroupName]="i"
          >
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="handleDeleteIngredient(i)">&times;</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="handleAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
